# Correlation Between Corruption and Food Prices
By Harshal Patel, Sabrina Almazan, Isis Kazadi, Katie Rink

Here we will write what we are attempting to do

In [61]:
#imports
import pandas as pd
import numpy as np

### Creating Datasets
Here we will write a brief description of the data sets

In [73]:
#Read in Data
PriceData = pd.read_csv('../Data/global_food_prices.csv', low_memory=False)
CorruptData = pd.read_csv('../Data/Corruption_Index.csv', low_memory=False)
Categories = pd.read_csv('../Data/FoodTypes.csv', low_memory=False)

### Clean Data
Explain decisions we made about countries

In [74]:
#Put all values to lower case
PriceData = PriceData.applymap(lambda s: s.lower() if type(s) == str else s)
CorruptData = CorruptData.applymap(lambda s: s.lower() if type(s) == str else s)
Categories = Categories.applymap(lambda s: s.lower() if type(s) == str else s)
#Shorten the names of the cm_name
PriceData['cm_name'] = PriceData['cm_name'].str.split(' -').str.get(0)
#Only include chosen countries
PriceData = PriceData[PriceData['adm0_name'].isin(['sudan', 'mexico', 'china', 'iraq', 'ethiopia'])]
CorruptData = CorruptData[CorruptData['Country'].isin(['sudan', 'mexico', 'china', 'iraq', 'ethiopia'])]

In [86]:
#Merge Datasets together for futher analysis
PriceData.head()

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
417258,52.0,china,907,hebei sheng,2605,sijiazhuang,84,wheat,0.0,cny,14,wholesale,5,kg,1,2014,2.6567,NaN
417259,52.0,china,907,hebei sheng,2605,sijiazhuang,84,wheat,0.0,cny,14,wholesale,5,kg,2,2014,2.6100,NaN
417260,52.0,china,907,hebei sheng,2605,sijiazhuang,84,wheat,0.0,cny,14,wholesale,5,kg,3,2014,2.6160,NaN
417261,52.0,china,907,hebei sheng,2605,sijiazhuang,84,wheat,0.0,cny,14,wholesale,5,kg,4,2014,2.5700,NaN
417262,52.0,china,907,hebei sheng,2605,sijiazhuang,84,wheat,0.0,cny,14,wholesale,5,kg,5,2014,2.5400,NaN

### Break Up into Analysis
Explain why we chose to analyze our individual parts

In [78]:
#Datasets based on Food Categories
DairyData = PriceData[PriceData['cm_name'].isin(Categories['Dairy'])] #Dairy Dataset
MeatData = PriceData[PriceData['cm_name'].isin(Categories['Meat'])] #Meat Dataset
GrainsData = PriceData[PriceData['cm_name'].isin(Categories['Grains'])] #Grains Dataset
VegData = PriceData[PriceData['cm_name'].isin(Categories['Fruits/Vegetables'])] #Vegtable/Fruits Dataset

In [90]:
#Datasets based on years
FirstYearsData = PriceData[PriceData['mp_year'].isin([2013, 2014])] #2013-2014 Prices
SecondYearsData = PriceData[PriceData['mp_year'].isin([2015, 2016])] #2015-2016 Prices
ThirdYearsData = PriceData[PriceData['mp_year'].isin([2017, 2018])] #2017-2018 Prices
FourthYearsData = PriceData[PriceData['mp_year'].isin([2019, 2020])] #2019-2020 Prices