# Analysis of Corruption Index
By Harshal Patel, Sabrina Almazan, Isis Kazadi, Katie Rink

In [2]:
#imports
import pandas as pd
import numpy as np

### Creating Datasets
Here we will write a brief description of the data sets

In [3]:
#Read in Datas
CorruptData = pd.read_csv('../Data/Corruption_Index.csv', low_memory=False)
CorruptData.head()

,Country,ISO3,Region,CPI score 2020,Rank 2020,Sources 2020,Standard error 2020,CPI score 2019,Rank 2019,Sources 2019,...,Standard error 2015,CPI score 2014,Sources 2014,Standard error 2014,CPI Score 2013,Sources 2013,Standard error 2013,CPI Score 2012,Sources 2012,Standard error 2012
0,Denmark,DNK,WE/EU,88,1,8,1.78,87,1,8,...,2.16,92.0,7.0,2.04,91.0,7.0,2.2,90.0,7.0,2.0
1,New Zealand,NZL,AP,88,1,8,1.48,87,1,8,...,2.32,91.0,7.0,2.28,91.0,7.0,2.3,90.0,7.0,2.2
2,Finland,FIN,WE/EU,85,3,8,1.75,86,3,8,...,1.77,89.0,7.0,2.05,89.0,7.0,1.7,90.0,7.0,3.0
3,Singapore,SGP,AP,85,3,9,1.20,85,4,9,...,2.02,84.0,8.0,1.75,86.0,9.0,2.3,87.0,9.0,2.1
4,Sweden,SWE,WE/EU,85,3,8,1.30,85,4,8,...,1.71,87.0,7.0,3.41,89.0,7.0,2.3,88.0,7.0,1.9

### Clean Data
Explain decisions we made about countries

In [3]:
#Only include chosen countries
CorruptData = CorruptData[CorruptData['Country'].isin(['sudan', 'mexico', 'china', 'iraq', 'ethiopia'])]

In [4]:
CorruptData.head()

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
417258,52.0,china,907,hebei sheng,2605,sijiazhuang,84,wheat,0.0,cny,14,wholesale,5,kg,1,2014,2.6567,NaN
417259,52.0,china,907,hebei sheng,2605,sijiazhuang,84,wheat,0.0,cny,14,wholesale,5,kg,2,2014,2.6100,NaN
417260,52.0,china,907,hebei sheng,2605,sijiazhuang,84,wheat,0.0,cny,14,wholesale,5,kg,3,2014,2.6160,NaN
417261,52.0,china,907,hebei sheng,2605,sijiazhuang,84,wheat,0.0,cny,14,wholesale,5,kg,4,2014,2.5700,NaN
417262,52.0,china,907,hebei sheng,2605,sijiazhuang,84,wheat,0.0,cny,14,wholesale,5,kg,5,2014,2.5400,NaN

### Break Up into Analysis
Explain why we chose to analyze our individual parts